**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/as-with).**

---

# Introduction

You are getting to the point where you can own an analysis from beginning to end. So you'll do more data exploration in this exercise than you've done before.  Before you get started, run the following set-up code as usual.

In [15]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex5 import *
print("Setup Complete")

Setup Complete

You'll work with a dataset about taxi trips in the city of Chicago. Run the cell below to fetch the `chicago_taxi_trips` dataset.

In [16]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_taxi_trips" dataset
dataset_ref = client.dataset("chicago_taxi_trips", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

You are curious how much slower traffic moves when traffic volume is high. This involves a few steps.

### 1) Find the data
Before you can access the data, you need to find the table name with the data.

*Hint*: Tab completion is helpful whenever you can't remember a command. Type `client.` and then hit the tab key. Don't forget the period before hitting tab.

In [17]:
# Your code here to find the table name

# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

table_length = len(tables)

print(table_length)

for table in tables:
    print(table.table_id)

1
taxi_trips

In [18]:
# Write the table name as a string below
table_name = "taxi_trips"

# Check your answer
q_1.check()

Correct

For the solution, uncomment the line below.

In [19]:
#q_1.solution()

### 2) Peek at the data

Use the next code cell to peek at the top few rows of the data. Inspect the data and see if any issues with data quality are immediately obvious.

In [20]:
# Your code here
# Construct a reference to the "transactions" table
table_ref = dataset_ref.table("taxi_trips")

# API request - fetch the table
table = client.get_table(table_ref)


# Preview the first five lines of the "transactions" table
client.list_rows(table, max_results=5).to_dataframe()

#print(len(num_rows))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  # Remove the CWD from sys.path while we load stuff.

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,ccc4a6dff0ad0e45d63e17f20b1659b06a7c913e,2ff33fa77fef652380380c5128fcb9406473110e8377cf...,2016-06-10 18:15:00+00:00,2016-06-10 18:15:00+00:00,720,2.8,NaN,NaN,NaN,NaN,...,2.0,14.64,Credit Card,303 Taxi,NaN,NaN,None,NaN,NaN,None
1,bd5c3b14f6c1e82ee6c179c7d910ed9f66186051,3cc82aa4b38ba2e05b13f2db7765fd11ad9120d7ac2f2e...,2016-06-12 18:15:00+00:00,2016-06-12 18:30:00+00:00,805,3.8,NaN,NaN,NaN,NaN,...,0.0,12.60,Cash,303 Taxi,NaN,NaN,None,NaN,NaN,None
2,4350534a2260badcf579ce5e0bb19634bc0dc966,3cc82aa4b38ba2e05b13f2db7765fd11ad9120d7ac2f2e...,2016-06-13 08:30:00+00:00,2016-06-13 08:30:00+00:00,207,0.7,NaN,NaN,NaN,NaN,...,0.0,3.60,Cash,303 Taxi,NaN,NaN,None,NaN,NaN,None
3,e817252d7a0630cd257590683bea4e234b235b69,3cc82aa4b38ba2e05b13f2db7765fd11ad9120d7ac2f2e...,2016-06-13 13:00:00+00:00,2016-06-13 13:15:00+00:00,563,3.6,NaN,NaN,NaN,NaN,...,0.0,9.80,Cash,303 Taxi,NaN,NaN,None,NaN,NaN,None
4,9d050f3f1b5ed9d3d3b00503048c14ebca3086a9,3cc82aa4b38ba2e05b13f2db7765fd11ad9120d7ac2f2e...,2016-06-14 07:45:00+00:00,2016-06-14 08:00:00+00:00,547,3.6,NaN,NaN,NaN,NaN,...,0.0,15.00,Credit Card,303 Taxi,NaN,NaN,None,NaN,NaN,None

After deciding whether you see any important issues, run the code cell below.

In [21]:
# Check your answer (Run this code cell to receive credit!)
#q_2.solution()

### 3) Determine when this data is from

In [22]:
rides_per_year_query = """ 
                 WITH year_ref AS 
                 (
                     SELECT EXTRACT(YEAR from trip_start_timestamp) AS year
                     FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                 )
                 SELECT COUNT(1) AS num_trips, year                
                 FROM year_ref
                 GROUP BY year
                 ORDER BY year ASC
                 """



# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(rides_per_year_query, job_config=safe_config)

# API request - run the query, and convert the results to a pandas DataFrame
transactions_by_date = query_job.to_dataframe()

# Print the first five rows
transactions_by_date.head()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   num_trips  year
0   27217716  2013
1   37395436  2014
2   32385875  2015
3   31759339  2016
4   24988003  2017

In [23]:
# Your code goes here
#rides_per_year_query = """____"""

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_year_query = """ 
                 WITH year_ref AS 
                 (
                     SELECT EXTRACT(YEAR from trip_start_timestamp) AS year
                     FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                 )
                 SELECT COUNT(1) AS num_trips, year                
                 FROM year_ref
                 GROUP BY year
                 ORDER BY year ASC
                 """

# API request - run the query, and return a pandas DataFrame

rides_per_year_result = query_job.to_dataframe()

# Print the first five rows
#transactions_by_date.head()
# View results
print(rides_per_year_result)

# Check your answer
q_3.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

   num_trips  year
0   27217716  2013
1   37395436  2014
2   32385875  2015
3   31759339  2016
4   24988003  2017
5   20732088  2018
6   16477365  2019
7    3889032  2020
8    1011520  2021

Correct

For a hint or the solution, uncomment the appropriate line below.

In [24]:
#q_3.hint()
#q_3.solution()

### 4) Dive slightly deeper

You'd like to take a closer look at rides from 2017.  Copy the query you used above in `rides_per_year_query` into the cell below for `rides_per_month_query`.  Then modify it in two ways:
1. Use a **WHERE** clause to limit the query to data from 2017.
2. Modify the query to extract the month rather than the year.

In [25]:
# Your code goes here
#rides_per_month_query = """____""" 

rides_per_month_query = """ 
                 WITH month_ref AS 
                 (
                     SELECT EXTRACT(MONTH FROM trip_start_timestamp) AS month  
                     FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                     WHERE EXTRACT(YEAR FROM trip_start_timestamp) = 2017
                 )
                 SELECT COUNT(1) AS num_trips, month                
                 FROM month_ref
                 GROUP BY month
                 ORDER BY month 
                 """

# Set up the query (cancel the query if it would use too much of 
# your quota, with the limit set to 10 GB)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
rides_per_month_query_job = client.query(rides_per_month_query, job_config=safe_config)

rides_per_month_result = rides_per_month_query_job.to_dataframe()

# Print the first five rows
df = rides_per_month_result

# View results
#print(rides_per_month_result)

#df

df = df[["month", "num_trips"]]

#df

rides_per_month_result = df

# View results
print(rides_per_month_result)

#Check your answer
q_4.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

    month  num_trips
0       1    1972071
1       2    1909802
2       3    2362105
3       4    2194702
4       5    2323386
5       6    2324472
6       7    2054299
7       8    2079861
8       9    1950631
9      10    2141197
10     11    1907997
11     12    1767480

Correct

For a hint or the solution, uncomment the appropriate line below.

In [26]:
#q_4.hint()
#q_4.solution()

### 5) Write the query

It's time to step up the sophistication of your queries.  Write a query that shows, for each hour of the day in the dataset, the corresponding number of trips and average speed.

Your results should have three columns:
- `hour_of_day` - sort by this column, which holds the result of extracting the hour from `trip_start_timestamp`.
- `num_trips` - the count of the total number of trips in each hour of the day (e.g. how many trips were started between 6AM and 7AM, independent of which day it occurred on).
- `avg_mph` - the average speed, measured in miles per hour, for trips that started in that hour of the day.  Average speed in miles per hour is calculated as `3600 * SUM(trip_miles) / SUM(trip_seconds)`. (The value 3600 is used to convert from seconds to hours.)

Restrict your query to data meeting the following criteria:
- a `trip_start_timestamp` between **2017-01-01** and **2017-07-01**
- `trip_seconds` > 0 and `trip_miles` > 0

You will use a common table expression (CTE) to select just the relevant rides.  Because this dataset is very big, this CTE should select only the columns you'll need to create the final output (though you won't actually create those in the CTE -- instead you'll create those in the later **SELECT** statement below the CTE).

This is a much harder query than anything you've written so far.  Good luck!

For the solution, uncomment the appropriate line below.

In [27]:
#q_5.solution()

speeds_query = """
               WITH RelevantRides AS
               (
                   SELECT EXTRACT(HOUR FROM trip_start_timestamp) AS hour_of_day, 
                          trip_miles, 
                          trip_seconds
                   FROM `bigquery-public-data.chicago_taxi_trips.taxi_trips`
                   WHERE trip_start_timestamp > '2017-01-01' AND 
                         trip_start_timestamp < '2017-07-01' AND 
                         trip_seconds > 0 AND 
                         trip_miles > 0
               )
               SELECT hour_of_day, 
                      COUNT(1) AS num_trips, 
                      3600 * SUM(trip_miles) / SUM(trip_seconds) AS avg_mph
               FROM RelevantRides
               GROUP BY hour_of_day
               ORDER BY hour_of_day
               """

# Set up the query (cancel the query if it would use too much of 
# your quota)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
speeds_query_job = client.query(speeds_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
speeds_result = speeds_query_job.to_dataframe()

# View results
print(speeds_result)

# Check your answer
q_5.check()

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

    hour_of_day  num_trips    avg_mph
0             0     319339  20.230524
1             1     266529  18.937621
2             2     210147  18.777070
3             3     159668  20.158048
4             4     122183  26.736014
5             5     119312  30.769172
6             6     182738  24.588313
7             7     358406  17.735967
8             8     541775  15.079892
9             9     565548  16.543882
10           10     525120  18.539614
11           11     594603  18.928379
12           12     622324  17.838745
13           13     630181  17.671089
14           14     622465  16.974239
15           15     640430  15.688418
16           16     701435  14.283888
17           17     756627  12.462955
18           18     768251  13.646810
19           19     701064  16.642882
20           20     598614  19.536777
21           21     552726  20.433874
22           22     501095  19.531374
23           23     399587  19.877046

Correct

That's a hard query. If you made good progress towards the solution, congratulations!

# Keep going

You can write very complex queries now with a single data source. But nothing expands the horizons of SQL as much as the ability to combine or **JOIN** tables.

**[Click here](https://www.kaggle.com/dansbecker/joining-data)** to start the last lesson in the Intro to SQL micro-course.

---




*Have questions or comments? Visit the [Learn Discussion forum](https://www.kaggle.com/learn-forum/161314) to chat with other Learners.*